body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orbit {
    width: 400px;
    height: 400px;
    border: 1px solid rgb(98, 97, 97);
    border-radius: 50%;
}

.sun {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(rgb(255, 0, 0), orange 55%, yellow);
    top: 160px;
    filter: blur(3px);
}

.earth {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(green, rgb(6, 77, 231));
    top: 100px;
    left: 200px;
    filter: blur(1px);
    transform: -180px 20px;
    animation: rotate-around-sun 60s infinite linear;
}

.moon {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #addd;
    top: 12px;
    left: -25px;
    filter: blur(1px);
    transform-origin: 45px 8px;
animation: rotate-around-earth 30s infinite linear;
}

@keyframes rotate-around-sun {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotale-around-earth {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}